{% extends 'project_frame.html.twig' %}

{% block title %}Edition d'une issue{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3>Editer une issue :</h3>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.number) }}
                {{ form_row(form.description) }}
                {{ form_row(form.difficulty) }}
                {{ form_row(form.priority) }}
                {{ form_row(form.status) }}
                {{ form_row(form.sprint) }}
                <button type="submit" class="btn btn-primary">Modifier l'issue</button>
                <a class="btn btn-outline-danger" href="{{ path('issuesList', {'id_project' : project.id}) }}">Annuler</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
