{% extends 'project_frame.html.twig' %}

{% block title %}Editer un issue{% endblock %}

{% block content %}

    <div id="issue-edit-container" class="container" style="padding-top:10%;">
        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.difficulty) }}
                {{ form_row(form.priority) }}
                {{ form_row(form.status) }}
                <button type="submit" class="btn btn-primary">Modifier l'issue</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
