{% extends 'project_frame.html.twig' %}

{% block title %}Création d'une issue{% endblock %}

{% block content %}

    <div class="container" style="padding-top:10%;">
        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.difficulty) }}
                {{ form_row(form.priority,{'label': 'Priorité'},{ 'separator': '----------' }) }}
                {{ form_row(form.status,{'label': 'Statut'},{ 'separator': '----------' }) }}
                <button type="submit" class="btn btn-primary">Créer l'issue</button>
                <a class="btn btn-outline-danger" href="{{ path('issuesList', {'id_project' : project.id}) }}">Annuler</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
