{% extends "base.html.twig" %}

{% block title %}List des issues{% endblock %}

{% block body %}
    
    <div id="issue-list-container" class="container" style="margin-top:10%;">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card center-align mg">
                    <p style="display:inline-block;">Issues :</p>
                    {% if myIssues is not empty %}  
                        <div class="collection">
                            {% for issue in myIssues %}
                                <p class="collection-item">
                                    <a href="/project/{{ myProject.id }}/issue/{{ issue.id }}/edit"><b>{{ issue.name }}</b>{{ issue.description }} Difficulté: {{ issue.difficulty }} Statut: {{ issue.status }} Priorité: {{ issue.priority }}</a>
                                    <a href="/project/{{ myProject.id }}/issue/{{ issue.id }}/delete" class="btn waves-effect waves-light red"></a>
                                </p>
                            {% endfor %}
                        </div> 
                    {% else %}
                        <p> Vous n'avez pour l'instant créé aucune issue.</p>
                    {% endif %}
                    <a class="btn btn-primary btn-dark" style="margin: auto; margin-bottom: 15px;" href="{{ path('createIssue', {'id_project' : myProject.id}) }}">Créer une issue</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

