{% extends 'project_frame.html.twig' %}

{% block title %}Liste des issues{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title mb-4">Issues </h3>
                {% if issues is not empty %}
                    <ul class="list-group">
                        {% for index, issue in issues %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6 col-lg-8">
                                        <div class="font-weight-bold">{{ issue.number }} - {{ issue.description }}</div>
                                        <div class="text-muted small">
                                            {% if issue.difficulty > 0 %}
                                                <span>Difficulté :</span>
                                                <span class="font-weight-bold badge badge-light" style="font-size: 110%;">{{ issue.difficulty }}</span>
                                            {% endif %}
                                            <span>| Priorité :</span>
                                            <span class="font-weight-bold badge badge-light" style="font-size: 110%;">{{ issue.priority |capitalize }}</span>
                                            <span>| Statut :</span>
                                            <span class="font-weight-bold {{ getClassForStatus(issue.status)}} badge" style="font-size: 110%;">{{ issue.status |capitalize }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 d-flex justify-content-md-end mt-2 mt-md-0">
                                        <a class="btn btn-primary my-auto mr-1" href="{{ path('editIssue', {'id_project': project.id, 'id_issue' : issue.id}) }}">Editer</a>
                                        <button class="btn btn-danger my-auto ml-1" data-toggle="modal" data-target="#issue-delete-confirm{{ index }}">Supprimer</button>
                                    </div>
                                </div>
                            </li>
                            {% embed 'components/_modal.html.twig' with {'modalId': "issue-delete-confirm#{index}"} %}
                                {% block header %}
                                    <h3>Veuillez confirmer la suppression</h3>
                                {% endblock %}
                                {% block body %}
                                    <p>Êtes-vous sûr(e) de vouloir supprimer l'issue {{ issue.number }}</p>
                                {% endblock %}
                                {% block footer %}
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                    <a href="{{ path('deleteIssue', {'id_project' : project.id,'id_issue' : issue.id }) }}" class="btn btn-primary">Oui</a>
                                {% endblock %}
                            {% endembed %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p> Vous n'avez pour l'instant créé aucune issue.</p>
                {% endif %}
                <a class="btn btn-primary mt-3" href="{{ path('createIssue', {'id_project' : project.id}) }}">Créer une issue</a>
            </div>
        </div>
    </div>
    <select id="select-graph" class="card browser-default custom-select" style="margin: auto; margin-top:5%; max-width:50%; justify-content:center;">
    <option value="Status">Statut</option>
    <option value="Priorite">Priorité</option>
    <option value="Difficulte">Difficulté</option>
    </select>

    <div id="graphic" class="container" style="min-width:500px; min-height:300px; max-height:400px; width:80%; margin: auto; margin-top:10%; justify-content:center;"></div>

    {% set title = "Statut" %}
    {% set function = "Status" %}
    {% set statistic = statusStat %}
    {% include 'graph/graph_column.html.twig' %}

    {% set title = "Difficulté" %}
    {% set function = "Difficulte" %}
    {% set statistic = diffStat %}
    {% include 'graph/graph_column.html.twig' %}

    {% set title = "Priorité" %}
    {% set function = "Priorite" %}
    {% set statistic = prioStat %}
    {% include 'graph/graph_column.html.twig' %}

    <script defer>
        function showGraph(title) {
            switch(title){
                case "Status":
                    showStatus();
                break;
                case "Difficulte":
                    showDifficulte();
                break;
                case "Priorite":
                    showPriorite();
                break;
            }
        }

        function init() {
            // ajout d'un écouteur d'évènement
            var el = document.getElementById("select-graph");
            el.addEventListener("change", 
            (event) => showGraph(event.target.value)
            , false);
        }

        init();
        showStatus();

    </script>
    </body>
{% endblock %}

