{% extends 'project_frame.html.twig' %}

{% block title %}Liste des issues{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title mb-4">Issues : </h3>
                <a class="btn btn-primary mt-3" title="Ajouter une issue" href="{{ path('createIssue', {'id_project' : project.id}) }}" style="margin-bottom:10px;">
                    <img src="{{ asset('build/images/add.svg') }}" style="max-width: 30px; filter: invert(1);">
                </a>
                {% if issues is not empty %}
                    <ul class="list-group card to-scroll">
                        {% for index, issue in issues %}
                            <li id="item-{{ issue.id }}" class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6 col-lg-8">
                                        <div class="font-weight-bold">{{ issue.number }} - {{ issue.description }}</div>
                                        <div class="text-muted small">
                                            {% if issue.difficulty > 0 %}
                                                <span>Difficulté :</span>
                                                <span class="font-weight-bold badge badge-light" style="font-size: 110%;">{{ issue.difficulty }}</span>
                                            {% endif %}
                                            <span>| Priorité :</span>
                                            <span class="font-weight-bold badge badge-light" style="font-size: 110%;">{{ issue.priority |capitalize }}</span>
                                            <span>| Statut :</span>
                                            <span class="font-weight-bold {{ getClassForStatus(issue.status)}} badge" style="font-size: 110%;">
                                            {% if issue.status  == "doing" %}
                                                {{ issue.getProportionOfDoing() }}
                                            {% endif %}
                                            {{ issue.status |capitalize }}
                                            </span>
                                            {% if issue.status  == "doing" %}
                                            <span class="font-weight-bold {{ getClassForStatus("done")}} badge" style="font-size: 110%;">{{ issue.getProportionOfDone() }} Done
                                            </span>
                                            {% endif %}
                                            {% for sprint in issue.getSprints() %}
                                                <span>| </span>
                                                <a title="Voir les détails du sprint" href="{{ path('sprintDetails', {'id_project': project.id,'id_sprint': sprint.getId()}) }}">
                                                    <span class="font-weight-bold badge badge-light" style="font-size: 110%;">Sprint :{{ sprint.getNumber() |capitalize }}</span>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 d-flex justify-content-md-end mt-2 mt-md-0">
                                        {% if issue.getTests() is not empty %}
                                            <a class="btn btn-info my-auto mr-1" href="{{ path('issueDetailsTest', {'id_project': project.id,'id_issue':issue.id}) }}">Tests</a>
                                        {% endif %}
                                        {% if issue.getTasks() is not empty %}
                                            <a class="btn btn-success my-auto mr-1" href="{{ path('issueDetailsTask', {'id_project': project.id,'id_issue':issue.id}) }}">Tâches</a>
                                        {% endif %}
                                        <a class="btn btn-light my-auto mr-1" title="Editer" href="{{ path('editIssue', {'id_project': project.id, 'id_issue' : issue.id}) }}">
                                            <img src="{{ asset('build/images/edit.svg') }}" style="max-width: 30px;">
                                        </a>
                                        <button class="btn btn-light my-auto ml-1" title="Supprimer" data-toggle="modal" data-target="#issue-delete-confirm{{ index }}">
                                            <img src="{{ asset('build/images/delete.svg') }}" style="max-width: 30px;">
                                        </button>
                                    </div>
                                </div>
                            </li>
                            {% embed 'components/_modal.html.twig' with {'modalId': "issue-delete-confirm#{index}"} %}
                                {% block header %}
                                    <h3>Veuillez confirmer la suppression</h3>
                                {% endblock %}
                                {% block body %}
                                    <p>Êtes-vous sûr(e) de vouloir supprimer l'issue {{ issue.number }}?<br/>Les tâches et sprints associées seront déliées.</p>
                                {% endblock %}
                                {% block footer %}
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                    <button type="button" data-dismiss="modal" data-link="{{ path('deleteIssue', {'id_project' : project.id,'id_issue' : issue.id }) }}" data-id="{{ issue.id }}" 
                                            class="btn btn-primary delete-item">Oui</button>
                                {% endblock %}
                            {% endembed %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p> Vous n'avez pour l'instant créé aucune issue.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <select id="select-chart" class="card browser-default custom-select" style="margin: auto; margin-top:5%; max-width:50%; justify-content:center;">
    <option value="Status">Statut</option>
    <option value="Priorite">Priorité</option>
    <option value="Difficulte">Difficulté</option>
    </select>

    <div id="chart" class="container" style="min-width:500px; min-height:300px; max-height:400px; width:80%; margin: auto; margin-top:10%; justify-content:center;"></div>

    {% set dataStatus = {
        title: 'Statut',
        datasetTitle: 'Nombre pour ce statut',
        dataset: statusStat,
    } %}
    {% set dataDiff = {
        title: 'Difficulté',
        datasetTitle: 'Nombre pour cette difficulté',
        dataset: diffStat,
    } %}
    {% set dataPrio = {
        title: 'Priorité',
        datasetTitle: 'Nombre pour cette priorité',
        dataset: prioStat,
    } %}

    <div id="data"
         data-status="{{ dataStatus | json_encode }}"
         data-diff="{{ dataDiff | json_encode }}"
         data-prio="{{ dataPrio | json_encode }}"
         class="d-none"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('issueList') }}
{% endblock %}
