{% extends 'project_frame.html.twig' %}

{% block title %}Création d'une issue{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3>Créer une issue :</h3>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.difficulty) }}
                {{ form_row(form.priority,{'label': 'Priorité'},{ 'separator': '----------' }) }}
                {{ form_row(form.status,{'label': 'Statut'},{ 'separator': '----------' }) }}
                <button type="submit" class="btn btn-primary">Créer l'issue</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
