{% extends 'project_frame.html.twig' %}

{% block title %}Liste des issues{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title mb-4">Issues </h3>
                {% if issues is not empty %}
                    <ul class="list-group">
                        {% for index, issue in issues %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6 col-lg-8">
                                        <div class="font-weight-bold">{{ issue.number }} - {{ issue.description }}</div>
                                        <div class="text-muted small">
                                            <span>Difficulté :</span>
                                            <span class="font-weight-bold">{{ issue.difficulty }}</span>
                                            <span>| Priorité :</span>
                                            <span class="font-weight-bold">{{ issue.priority }}</span>
                                            <span>| Statut :</span>
                                            <span class="font-weight-bold">{{ issue.status }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 d-flex justify-content-md-end mt-2 mt-md-0">
                                        <a class="btn btn-primary my-auto mr-1" href="{{ path('editIssue', {'id_project': project.id, 'id_issue' : issue.id}) }}">Editer</a>
                                        <button class="btn btn-danger my-auto ml-1" data-toggle="modal" data-target="#issue-delete-confirm{{ index }}">Supprimer</button>
                                    </div>
                                </div>
                            </li>
                            {% embed 'components/_modal.html.twig' with {'modalId': "issue-delete-confirm#{index}"} %}
                                {% block header %}
                                    <h3>Veuillez confirmer la suppression</h3>
                                {% endblock %}
                                {% block body %}
                                    <p>Êtes-vous sûr(e) de vouloir supprimer l'issue {{ issue.number }}</p>
                                {% endblock %}
                                {% block footer %}
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                    <a href="{{ path('deleteIssue', {'id_project' : project.id,'id_issue' : issue.id }) }}" class="btn btn-primary">Oui</a>
                                {% endblock %}
                            {% endembed %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p> Vous n'avez pour l'instant créé aucune issue.</p>
                {% endif %}
                <a class="btn btn-primary mt-3" href="{{ path('createIssue', {'id_project' : project.id}) }}">Créer une issue</a>
            </div>
        </div>
    </div>
    <select class="card browser-default custom-select" style="margin: auto; margin-top:5%; max-width:50%; justify-content:center;">
    <option>Selectionner un champ</option>
    <option>Statut</option>
    <option>Difficulté</option>
    <option>Priorité</option>
    </select>
    {% set title = "Statut" %}
    {% set statistic = statusStat %}
    {% include 'graph.html.twig' %}

    {% set title = "Difficulté" %}
    {% set statistic = diffStat %}
    {% include 'graph.html.twig' %}

    {% set title = "Priorité" %}
    {% set statistic = prioStat %}
    {% include 'graph.html.twig' %}
    </body>
{% endblock %}

