{% extends   "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <nav class="cyan darken-4">
        <div class="nav-wrapper" >
            <a href="" class="brand-logo">Gestion de projets</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="login">Se connecter</a></li>
            </ul>
        </div>
    </nav>
    <div id="register-container" style="margin-top:10%;">
        <div class="row">
                <div class="row">
                    <div class="col s12 m6 offset-m3">
                        <div class="card center-align mg">
                            <div class="card-content">
                                {{ form_start(form) }}
                                    {{ form_errors(form) }}
                                    {{ form_row(form.name) }}
                                    {{ form_row(form.emailAddress) }}
                                    {{ form_row(form.password) }}
                                    <button id="register-button" class="btn waves-effect waves-light"  type="submit">S'enregister</button>
                                    <a class="btn waves-effect waves-light red" href="/">Annuler</a>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>

            
            
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script defer>
        let password = document.getElementById("password")
        let password_confirm = document.getElementById("password_confirm");

        function validatePassword(){
        if(password.value != password_confirm.value) {
            password_confirm.setCustomValidity("Les mots de passe sont différents");
        } else {
            password_confirm.setCustomValidity('');
        }
        }

        password.onchange = validatePassword;
        password_confirm.onkeyup = validatePassword;
    </script>
{% endblock %}