{% extends   "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}

    {% include 'app_header.html.twig' %}

    <div id="register-container" class="container border rounded" style="margin-top:10%; max-width:750px;">
        <div style="margin-top:15px; margin-bottom:15px;">
            {{ form_start(form) }}
            <h3>Inscription :</h3>
            {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.emailAddress) }}
            {{ form_row(form.password) }}
            <button type="submit" class="btn btn-primary btn-dark">S'enregister</button>
            {{ form_end(form) }}
        </div>
    </div>



    </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let password = document.getElementById("registration_password_first");
        let password_confirm = document.getElementById("registration_password_second");

        function validatePassword(){
            if(password.value !== password_confirm.value) {
                password_confirm.setCustomValidity("Les mots de passe sont différents");
            } else {
                password_confirm.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        password_confirm.onkeyup = validatePassword;
    </script>
{% endblock %}
