{% extends 'project_frame.html.twig' %}

{% block title %}Liste des releases{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title mb-4">Releases : </h3>
                <a class="btn btn-primary mt-3" title="Ajouter une release" href="{{ path('createRelease', {'id_project' : project.id}) }}" style="margin-bottom:10px;">
                    <img src="{{ asset('build/images/add.svg') }}" style="max-width: 30px; filter: invert(1);">
                </a>
                {% if releases is not empty %}
                    <ul class="list-group card to-scroll">
                        {% for index, release in releases %}
                            <li id="item-{{ release.id }}" class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6 col-lg-8">
                                        <div class="font-weight-bold">{{ release.number}} - {{ release.description }}</div>
                                        <div class="text-muted small">
                                            <span>Date:</span>
                                            <span class="font-weight-bold">{{ release.date.format("d/m/Y") }} | </span>
                                            <a title="Accéder au lien de la release" href="{{(release.link)}}" target="_blank">
                                                <span class="green font-weight-bold badge badge-light" style="font-size: 110%;">Lien de la release</span>
                                            </a>
                                        </div>
                                    </div>    
                                    <div class="col-md-6 col-lg-4 d-flex justify-content-md-end mt-2 mt-md-0">
                                        <a class="btn btn-light my-auto mr-1" title="Editer" href="{{ path('editRelease', {'id_project': project.id, 'id_release' : release.id}) }}">
                                            <img src="{{ asset('build/images/edit.svg') }}" style="max-width: 30px;">
                                        </a>
                                        <button class="btn btn-light my-auto ml-1" title="Supprimer" data-toggle="modal" data-target="#release-delete-confirm{{ index }}">
                                            <img src="{{ asset('build/images/delete.svg') }}" style="max-width: 30px;">
                                        </button>
                                    </div>
                                </div>
                            </li>
                            {% embed 'components/_modal.html.twig' with {'modalId': "release-delete-confirm#{index}"} %}
                                {% block header %}
                                    <h3>Veuillez confirmer la suppression</h3>
                                {% endblock %}
                                {% block body %}
                                    <p>Êtes-vous sûr(e) de vouloir supprimer le release {{ release.number }}?</p>
                                {% endblock %}
                                {% block footer %}
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                    <button type="button" data-dismiss="modal" data-link="{{ path('deleteRelease', {'id_project' : project.id,'id_release' : release.id }) }}" data-id="{{ release.id }}" 
                                            class="btn btn-primary delete-item">Oui</button>
                                {% endblock %}
                            {% endembed %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p> Vous n'avez pour l'instant créé aucun release.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

