{% extends 'project_frame.html.twig' %}

{% block title %}Liste des sprints{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title mb-4">Sprints </h3>
                {% if sprints is not empty %}
                    <ul class="list-group">
                        {% for index, sprint in sprints %}
                            <li id="item-{{ sprint.id }}" class="list-group-item">
                                <div class="row">
                                        <div class="col-md-6 col-lg-8">
                                            <div class="font-weight-bold">
                                                <b>{{ sprint.number }}</b> : {{ sprint.description }}
                                            </div>
                                            <div class="text-muted small">
                                                {% set addDay = '+' ~ sprint.durationInDays ~ ' day' %}
                                                {% set endDate = sprint.startDate|date_modify(addDay) %}
                                                <span>Période ({{sprint.durationInDays}}j) :</span>
                                                <span class="font-weight-bold">{{ sprint.startDate.format("d/m/Y") }} - {{ endDate|date("d/m/Y") }}</span>
                                                <span> | Issues : {{ sprint.getIssues()|length }}</span>
                                                <span> | Tâches : {{ sprint.getTasks()|length }}</span>
                                                {% if "now"|date('Y-m-d') > endDate|date('Y-m-d') %}
                                                    <span> | </span>
                                                    <span class="font-weight-bold green badge" style="font-size: 110%;">Fini</span>
                                                    {% if  sprint.containsNotDoneTask() %}
                                                       <button class="btn btn-warning my-auto ml-1" data-toggle="modal" data-target="#sprint-migrate-confirm">Migrer</button> 
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 d-flex justify-content-md-end mt-2 mt-md-0">
                                            <a class="btn btn-success my-auto mr-1" href="{{ path('sprintDetails', {'id_project': project.id,'id_sprint':sprint.id}) }}">Tâches</a>
                                            <a class="btn btn-primary my-auto mr-1" href="{{ path('editSprint', {'id_project': project.id, 'id_sprint' : sprint.id}) }}">Editer</a>
                                            <button class="btn btn-danger my-auto ml-1" data-toggle="modal" data-target="#sprint-delete-confirm">Supprimer</button>
                                        </div>
                                </div>
                            </li>
                            {% embed 'components/_modal.html.twig' with {'modalId': "sprint-delete-confirm"} %}
                                {% block header %}
                                    <h3>Veuillez confirmer la suppression</h3>
                                {% endblock %}
                                {% block body %}
                                    <p>Êtes-vous sûr(e) de vouloir supprimer le sprint {{ sprint.number }}?<br/>Les issue associé seront déliées et les tâches associées seront supprimée.</p>
                                {% endblock %}
                                {% block footer %}
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                    <button type="button" data-dismiss="modal" data-link="{{ path('deleteSprint', {'id_project' : project.id,'id_sprint' : sprint.id }) }}" data-id="{{ project.id }}" 
                                            class="btn btn-primary delete-item">Oui</button>
                                {% endblock %}
                            {% endembed %}
                            {% embed 'components/_modal.html.twig' with {'modalId': "sprint-migrate-confirm"} %}
                                {% block header %}
                                    <h3>Veuillez confirmer la migration</h3>
                                {% endblock %}
                                {% block body %}
                                    <p>Sélectionnez un sprint afin de lui léguer les tâches et issues qui ne sérais pas Done.</p>
                                {% endblock %}
                                {% block footer %}
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                    {% for sprintT in sprints %}
                                        {% set addDayT = '+' ~ sprintT.durationInDays ~ ' day' %}
                                        {% set endDateT = sprintT.startDate|date_modify(addDayT) %}
                                        {% if "now"|date('Y-m-d') < endDateT|date('Y-m-d') %}
                                             <a class="btn btn-primary my-auto mr-1" href="{{ path('migrateSprint', {'id_project' : project.id,'id_source' : sprint.id,'id_target' : sprintT.id }) }}">
                                             Oui</a>
                                        {% endif %}
                                    {% endfor %}
                                {% endblock %}
                            {% endembed %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p> Vous n'avez pour l'instant créé aucun sprint.</p>
                {% endif %}
                <a class="btn btn-primary mt-3" href="{{ path('createSprint', {'id_project' : project.id}) }}">Créer un sprint</a>
            </div>
        </div>
    </div>


    <div id="chart" class="container" style="min-width:500px; min-height:300px; max-height:400px; width:80%; margin: auto; margin-top:10%; justify-content:center;"></div>

    {% set data = {
        title: 'Burn Down Chart',
        firstTitle: 'BDC Réel',
        secondTitle: 'BDC Théorique',
        firstDataset: burnDownStat,
        secondDataset: burnDownTheoricStat
    } %}

    <div id="data" data-bdc="{{ data | json_encode }}" class="d-none"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('sprintList') }}
{% endblock %}

