{% extends 'project_frame.html.twig' %}

{% block title %}Informations du sprint - {{ sprint.number }}{% endblock %}

{% block content %}

    <div class="container" style="margin-bottom:10%;">
        <div class="card">
            <div class="card-body">
                <p class="text-justify" class="card-text">Sprint: {{ sprint.number }}</p>

                <p class="text-justify" class="card-text">
                    <span class="font-weight-bold">Description :</span>
                    {{ sprint.description }}
                </p>
                <div class="text-muted small">
                    {% set addDay = '+' ~ sprint.durationInDays ~ ' day' %}
                    <span>Période ({{sprint.durationInDays}}j):</span>
                    <span class="font-weight-bold">{{ sprint.startDate.format("d/m/Y") }} - {{ sprint.startDate|date_modify(addDay)|date("d/m/Y") }}</span>
                </div>

            </div>
        </div>
    </div>

    {% include 'task/task_list_frag.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('taskList') }}
{% endblock %}

