{% extends 'project_frame.html.twig' %}

{% block title %}Informations du sprint - {{ sprint.number }}{% endblock %}

{% block content %}

    <div class="container" style="margin-bottom:10%;">
        <div class="card">
            <div class="card-body">
                <p class="text-justify" class="card-text">Sprint: {{ sprint.number }}</p>

                <p class="text-justify" class="card-text">
                    <span class="font-weight-bold">Description :</span>
                    {{ sprint.description }}
                </p>
              <div class="text-muted small">
                  <span>Date de début :</span>
                  <span class="font-weight-bold">{{ sprint.startDate.format("d/m/Y") }}</span>
                  <span>| Durée estimé pour la réalisation :</span>
                  <span class="font-weight-bold">{{ sprint.durationInDays }}</span>
              </div>

            </div>
        </div>
    </div>

    {% include 'task/task_list_frag.html.twig' %}

{% endblock %}

