{% extends 'project_frame.html.twig' %}

{% block title %}Informations du sprint - {{ sprint.number }}{% endblock %}

{% block content %}

    <div class="container" style="margin-bottom:10%;">
        <div class="card">
            <div class="card-body">
                <p class="text-justify" class="card-text">Sprint: {{ sprint.number }}</p>

                <p class="text-justify" class="card-text">
                    <span class="font-weight-bold">Description :</span>
                    {{ sprint.description }}
                </p>
                <div class="text-muted small">
                    <span>Période ({{sprint.durationInDays}}j) :</span>
                    <span class="font-weight-bold">{{ sprint.startDate.format("d/m/Y") }} - {{ sprint.getEndDate("d/m/Y") }}</span>
                    <span> | Issues : {{ sprint.getIssues()|length }}</span>
                    <span> | Tâches : {{ sprint.getTasks()|length }}</span>
                    {% if sprint.isFinish() %}
                        <span> | </span>
                        <span class="font-weight-bold green badge" style="font-size: 110%;">Fini</span>
                    {% else %}
                        {% if "now"|date('Y-m-d') >= sprint.startDate|date('Y-m-d') %}
                            <span> | </span>
                            <span class="font-weight-bold yellow badge" style="font-size: 110%;">En cours</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include 'task/task_list_frag.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('taskList') }}
{% endblock %}

