{% extends 'project_frame.html.twig' %}

{% block title %}Création d'un sprint{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3>Créer un sprint :</h3>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.number) }}
                {{ form_row(form.description) }}
                {{ form_row(form.startDate) }}
                {{ form_row(form.estimatedDuration) }}
                <button type="submit" class="btn btn-primary">Créer le sprint</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
