<li id="item-{{ task.id }}"class="mt-2 {{ task.status }}"
{% if task.status != 'done' %}
 draggable="true" data-link="{{ path('changeTaskStatus', {'id_project': project.id, 'id_task' : task.id, 'status' : "done", 'id_sprint':task.sprint.id}) }}"
{% endif %}
>
    <div class="link collapsed" data-toggle="collapse" href="#taskDetail{{ task.id }}" aria-expanded="false" style="cursor:pointer;">
        <h4 class="h6 mb-0">
            {{ task.number }}
            <span class="pl-1 font-italic">
                {% if task.developper is not null %}
                    | Assignée à {{ task.developper.name }}
                {% else %}
                    | Non assignée
                {% endif %}
            </span>
        </h4>
        <div class="ellipsis">{{ task.description }}</div>
    </a>
    <div class="collapse mw-100" id="taskDetail{{ task.id }}">
        <span>Jour/H : {{ task.requiredManDays }}</span>
        <h6 class="mt-1 mb-0">Issues associées</h6>
        <ul class="mb-4">
            {% for issue in task.relatedIssues %}
                <li>

                    <div class="ellipsis"><span class="font-weight-bold">{{ issue.number }}</span>: {{ issue.description }}</div>
                </li>
            {% endfor %}
        </ul>
        {% block buttons %}{% endblock %}
    </div>
</li>
