<li id="item-{{ task.id }}" class="mt-2 {{ task.status }}"
{% if task.status != 'done' %}
 draggable="true" data-link="{{ path('changeTaskStatus', {'id_project': project.id, 'id_task' : task.id, 'status' : 'done', 'id_sprint':task.sprint.id}) }}"
{% endif %}
>
    <a class="link collapsed" data-toggle="collapse" href="#taskDetail{{ task.id }}" aria-expanded="false">
        <h4 class="h6 mb-0">
            {{ task.number }}
            <span class="pl-1 font-italic">
                {% if task.developper is not null %}
                    | Assignée à {{ task.developper.name }}
                {% else %}
                    | Non assignée
                {% endif %}
            </span>
        </h4>
        <div class="ellipsis">{{ task.description }}</div>
    </a>
    <div class="collapse mw-100" id="taskDetail{{ task.id }}">
        <span>Jour/H : {{ task.requiredManDays }}</span>
        <h6 class="mt-1 mb-0">Issues associées</h6>
        <ul class="mb-4">
            {% for issueL in task.relatedIssues %}
                <li>
                    {% if issue is not defined %}
                    <a title="Voir les détails de l'issue" href="{{ path('issueDetailsTask', {'id_project': project.id,'id_issue': issueL.id}) }}">
                        <div class="ellipsis"><span class="font-weight-bold">{{ issueL.number }}</span>: {{ issueL.description }}</div>
                    </a>
                    {% else %}
                        <div class="ellipsis"><span class="font-weight-bold">{{ issueL.number }}</span>: {{ issueL.description }}</div>
                    {% endif%}
                </li>
            {% endfor %}
        </ul>
        {% block buttons %}
                <div class="text-center row justify-content-around">
                {% if task.status != 'done' %}    
                    <a class="col-5 btn px-2 border {{ getClassForStatus("doing")}}"
                        href="{{ path('changeTaskStatus', {'id_project' : project.id, 'id_task' : task.id, 'status' : 'doing', 'id_sprint':task.sprint.id}) }}">
                        En cours
                    </a>
                    {% if task.status == 'todo' %}
                    <a class="col-5 btn px-2 border {{ getClassForStatus("done")}}"
                        href="{{ path('changeTaskStatus', {'id_project' : project.id, 'id_task' : task.id, 'status' : 'done', 'id_sprint':task.sprint.id}) }}">
                        Fait
                    </a>
                    {% endif %}
                {% endif %}
                </div>
                <div class="text-center row justify-content-around" style="margin-top:5px;">
                    <a class="btn btn-light my-auto mr-1" title="Editer" href="{{ path('editTask', {'id_project': project.id, 'id_sprint' : task.sprint.id, 'id_task' : task.id}) }}">
                        <img src="{{ asset('build/images/edit.svg') }}" style="max-width: 30px;">
                    </a>
                    <button class="btn btn-light my-auto ml-1" title="Supprimer" data-toggle="modal" data-target="#task-delete-confirm">
                        <img src="{{ asset('build/images/delete.svg') }}" style="max-width: 30px;">
                    </button>
                </div>
        {% endblock %}
        {% embed 'components/_modal.html.twig' with {'modalId': "task-delete-confirm"} %}
            {% block header %}
                <h3>Veuillez confirmer la suppression</h3>
            {% endblock %}
            {% block body %}
                <p>Êtes-vous sûr(e) de vouloir supprimer la tâche {{ task.number }}</p>
            {% endblock %}
            {% block footer %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                <button type="button" data-dismiss="modal" data-link="{{ path('deleteTask', {'id_project' : project.id,'id_sprint' : task.sprint.id, 'id_task' : task.id}) }}" data-id="{{ task.id }}" 
                class="btn btn-primary delete-item">Oui</button>
            {% endblock %}
        {% endembed %}
    </div>
</li>
