{% extends 'project_frame.html.twig' %}

{% block title %}Edition d'une tâche{% endblock %}

{% block content %}
    <div class="container" style="padding-top:10%;">
        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.number) }}
                {{ form_row(form.description) }}
                {{ form_row(form.requiredManDays) }}
                {{ form_row(form.developper) }}
                {{ form_row(form.relatedIssues) }}
                <button type="submit" class="btn btn-primary">Modifier la tâche</button>
                <a class="btn btn-outline-danger" href="{{ path('tasksList', {'id_project' : project.id}) }}">Annuler</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
