{% extends 'project_frame.html.twig' %}

{% block title %}Planning poker de la tache {{task.number}}{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3>Evaluez le nombre de jour/Homme que devrais prendre cette tâche</h3>
                <p>{{task.description}}</p>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.value) }}
                <button type="submit" class="btn btn-primary">Valider</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
