{% extends 'project_frame.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block content %}
    <div class="container">
        {% if todos is not empty or doings is not empty or dones is not empty %}
            <div class="row">
                <div class="col-12 px-0 px-lg-1 text-center mb-2">
                    <a class="btn btn-primary" href="{{ path('createTask', {'id_project' : project.id}) }}">Créer une tâche</a>
                </div>
                <div class="col-lg-4 px-0 px-lg-1 my-lg-0 my-1">
                    <div class="card card-height">
                        <div class="card-body">
                            <h3>A faire</h3>
                            <div class="container-fluid">
                                <ul class="list-unstyled">
                                    {% for task in todos %}
                                        {% embed 'task/_task_details.html.twig'%}
                                            {% block buttons %}
                                                <div class="text-center row justify-content-around">
                                                    <a class="col-5 btn btn-primary px-2"
                                                       href="{{ path('changeTaskStatus', {'id_project' : project.id, 'id_task' : task.id, 'status' : 'doing'}) }}">
                                                        En cours
                                                    </a>
                                                    <a class="col-5 btn btn-success px-2"
                                                       href="{{ path('changeTaskStatus', {'id_project' : project.id, 'id_task' : task.id, 'status' : 'done'}) }}">
                                                        Fait
                                                    </a>
                                                </div>
                                            {% endblock %}
                                        {% endembed %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-0 px-lg-1 my-lg-0 my-1">
                    <div class="card card-height">
                        <div class="card-body">
                            <h3>En cours</h3>
                            <div class="container-fluid">
                                <ul class="list-unstyled">
                                    {% for task in doings %}
                                        {% embed 'task/_task_details.html.twig' %}
                                            {% block buttons %}
                                                <div class="text-center row justify-content-around">
                                                    <a class="col-5 btn btn-success px-2"
                                                       href="{{ path('changeTaskStatus', {'id_project' : project.id, 'id_task' : task.id, 'status' : 'done'}) }}">
                                                        Fait
                                                    </a>
                                                </div>
                                            {% endblock %}
                                        {% endembed %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-0 px-lg-1 my-lg-0 my-1">
                    <div class="card card-height">
                        <div class="card-body">
                            <h3>Faite(s)</h3>
                            <div class="container-fluid">
                                <ul class="list-unstyled">
                                    {% for task in dones %}
                                        {% include 'task/_task_details.html.twig' %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-4">Tâches</h3>
                    <p>Vous n'avez pour l'instant créé aucune tâche.</p>
                    <a class="btn btn-primary mt-3" href="{{ path('createTask', {'id_project' : project.id}) }}">Créer une tâche</a>
                </div>
            </div>
        {% endif %}
    </div>
    <select class="card browser-default custom-select" style="margin: auto; margin-top:5%; max-width:50%; justify-content:center;">
    <option>Selectionner un champ</option>
    <option>Statut</option>
    <option>Temps estimé</option>
    <option>Membres associés</option>
    </select>
    
    {% set title = "Jour/Homme" %}
    {% set statistic = manDaysStat %}
    {% include 'graph.html.twig' %}

    {% set title = "Difficulté" %}
    {% set statistic = statusStat %}
    {% include 'graph.html.twig' %}

    {% set title = "Membre" %}
    {% set statistic = memberStat %}
    {% include 'graph.html.twig' %}

    {% set title = "Jour/Homme par Membre" %}
    {% set statistic = memberMansDayStat %}
    {% include 'graph.html.twig' %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('task') }}
{% endblock %}

