{% extends 'project_frame.html.twig' %}

{% block title %}Création d'un test{% endblock %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3>Créer un test :</h3>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.issue) }}
                {{ form_row(form.state,{'label': 'Etat'},{ 'separator': '----------' }) }}
                <button type="submit" class="btn btn-primary">Créer le test</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
