{% extends "base.html.twig" %}

{% block title %}Création de projet{% endblock %}

{% block body %}

    {% include 'app_header.html.twig' %}

   <div id="project-container" class="container border rounded" style="margin-top:10%; max-width:750px;">
        <div style="margin-top:15px; margin-bottom:15px;">
            {{ form_start(form) }}
                <h3>Nouveau projet :</h3>
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_row(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.description) }}
                </div>
                <button type="submit" class="btn btn-primary btn-dark">Créer le Projet</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
