{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    {% include 'app_header.html.twig' with  {'foo': 'bar'} %}
    
    <div id="project-list-container" style="margin-top:10%;">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card center-align mg">
                    <p style="display:inline-block;">Mes projets :</p>
                    {% if myProjects is not empty %}  
                        <div class="collection">
                            {% for project in myProjects %}
                                <a href="/project/{{ project.getId() }}" class="collection-item"><b>{{ project.getName() }}</b> : {{ project.getDescription() }} </a>
                            {% endfor %}
                        </div> 
                    {% else %}
                        <p> Vous n'avez pour l'instant créé aucun projet.</p>
                        <a class="btn waves-effect waves-light" href="{{ path('createProject') }}">Créer mon projet</a>
                    {% endif %}
                    <p>Mes projets associés :</p>
                    {% if myLinkedProjects is not empty %}  
                        
                        <div class="collection">
                            {% for project in myLinkedProjects %}
                                <a href="/project/{{ project.getId() }}" class="collection-item"><b>{{ project.getName() }}</b> : {{ project.getDescription() }} </a>
                            {% endfor %}
                        </div> 
                    {% else %}
                        <p> Vous n'avez pour l'instant aucun projet associés.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

