{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    
    <div id="project-list-container" class="container" style="margin-top:10%;">
        <div class="row">
            <div class="col sm-6" >
                <div class="card">
                    <div class="card-body">
                        <p style="display:inline-block;" class="card-title"><b>Mes projets :</b></p>
                    {% if myProjects is not empty %}
                        <div class="list-group" id="project">
                            {% for project in myProjects %}
                                <a href="{{ path('projectDetails', {'id': project.id}) }}" class="list-group-item list-group-item-action"><b>{{ project.name }}</b> : {{ project.description }} </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p> Vous n'avez pour l'instant créé aucun projet.</p>
                        <a class="btn btn-primary btn-dark" href="{{ path('createProject') }}">Créer mon projet</a>
                    {% endif %}
                    </div>
                </div>
            </div>
                       <div class="col sm-6">
                           <div class="card">
                               <div class="card-body">
                                   <p style="display:inline-block;" class="card-title"><b>Mes projets associés :</b></p>
                    {% if myLinkedProjects is not empty %}  
                        
                        <div class="list-group">
                            {% for project in myLinkedProjects %}
                                <a href="{{ path('projectDetails', {'id': project.id}) }}" class="list-group-item list-group-item-action"><b>{{ project.name }}</b> : {{ project.description }} </a>
                            {% endfor %}
                        </div> 
                    {% else %}
                        <p> Vous n'avez pour l'instant aucun projet associés.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

