{% extends 'project_frame.html.twig' %}

{% block title %}Editer un projet{% endblock %}

{% block content %}

    <div id="project-edit-container" class="container" style="padding-top:10%">
        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                <button type="submit" class="btn btn-primary">Modifier le Projet</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
