{% extends 'project_frame.html.twig' %}

{% block title %}Informations projet - {{ project.name }}{% endblock %}

{% block content %}

    <div id="login-container" class="container" style="padding-top:10%;">
        <div class="row">
            <div class="col-sm-6 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <p class="card-subtitle mb-2 text-muted">
                            <span class="font-weight-bold">Propriétaire du projet :</span>
                            <a href="mailto:{{ owner.emailAddress }}" class="card-link">{{ owner.name }}</a>
                        </p>
                        <p class="text-justify" class="card-text">
                            <span class="font-weight-bold">Description :</span>
                            {{ project.description }}
                        </p>
                        {% if status is defined and status == "invited" %}
                            <a class="btn btn-primary" href="{{ path('acceptInviteToProject', {'invitationKey': myInvitation.invitationKey}) }}">Rejoindre</a>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#project-refuse-confirm">Refuser</button>
                        {% elseif status is defined and status == "owner" %}
                            <a class="btn btn-primary" href="{{ path('editProject', {'id': project.id}) }}">Editer</a>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#project-delete-confirm">Supprimer</button>
                        {% elseif status is defined and status == "member" %}
                            <button class="btn btn-danger" data-toggle="modal" data-target="#leave-project-confirm">Quitter le projet</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                {% include 'project/project_members.html.twig' %}
            </div>
        </div>
    </div>

    {% if status is defined and status == "invited" %}
        {% embed 'components/_modal.html.twig' with {'modalId': 'project-refuse-confirm'} %}
            {% block header %}
                <h3>Veuillez confirmer la suppression</h3>
            {% endblock %}
            {% block body %}
                <p>Êtes-vous sûr(e) de vouloir refuser de rejoindre le projet {{ project.name }}?</p>
            {% endblock %}
            {% block footer %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                <a href=" {{ path('denyInviteToProject', {'invitationKey': myInvitation.invitationKey}) }}" class="btn btn-primary">Oui</a>
            {% endblock %}
        {% endembed %}
    {% elseif status is defined and status == "owner" %}
        {% embed 'components/_modal.html.twig' with {'modalId': 'project-delete-confirm'} %}
            {% block header %}
                <h3>Veuillez confirmer la suppression</h3>
            {% endblock %}
            {% block body %}
                <p>Êtes-vous sûr(e) de vouloir supprimer le projet {{ project.name }}</p>
            {% endblock %}
            {% block footer %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                <a href=" {{ path('deleteProject', {'id': project.id}) }}" class="btn btn-primary">Oui</a>
            {% endblock %}
        {% endembed %}
    {% elseif status is defined and status == "member" %}
        {% embed 'components/_modal.html.twig' with {'modalId': 'leave-project-confirm'} %}
            {% block header %}
                <h3>Veuillez confirmer le départ</h3>
            {% endblock %}
            {% block body %}
                <p>Êtes-vous sûr(e) de vouloir quitter le projet {{ project.name }}</p>
            {% endblock %}
            {% block footer %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                <a href=" {{ path('deleteMember', {'projectId': project.id, 'memberId': user.id}) }}" class="btn btn-primary">Oui</a>
            {% endblock %}
        {% endembed %}
    {% endif %}


{% endblock %}