{% extends "base.html.twig" %}

{% block title %}Informations{% endblock %}

{% block body %}

    {% include 'app_header.html.twig' %}

    <div id="login-container" style="margin-top:10%;">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card center-align mg">
                    <div class="card-content">
                        <h3>{{ project.name }}</h3>
                        <p>{{ project.description }}</p>
                        <p>Propriétaire du projet :</p>
                        <p><a href="mailto:{{ owner.emailAddress }}" style="font-weight: bold">{{ owner.name }}</a></p>
                        <a class="btn waves-effect waves-light" href="{{ path('editProject', {'id': project.id}) }}">Editer</a>
                        <a class="btn waves-effect waves-light red" href="/project/{{ project.id }}/delete">Supprimer</a>
                        <div>
                            {% include 'project/project_members.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

{% endblock %}

